<div class="text-center">
    <h2 class="display-4">Thank you for signin up to our services</h2>
    <p>
        @Html.ActionLink("click here to go to device activation", "Index", "Device")
    </p>
    <p> check commits</p>
</div>