<div class="text-center">
    <h1 class="display-4">User Settings</h1>
    <p>Please choose an action below</p>
    <p>
        @Html.ActionLink("Edit Personal Details", "EditPersonal", "User")
    </p>
    <p>
        @Html.ActionLink("Edit Payment Method", "EditPayment", "User")
    </p>
</div>