<div class="text-center">
    <h5>In order to Preform this action you need to be signed in first</h5>
    <p>
        @Html.ActionLink("Please Sign In here", "LoginPage", "User")
    </p>
    <p>If you are not a signed in user, please sign up here</p>
    <p>
        @Html.ActionLink("Sign Up", "Create", "User")
    </p>
</div>