<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please choose an action below</p>
    <p>
        @Html.ActionLink("Continue as Guest", "Create", "Guest")
    </p>
    <p>
        @Html.ActionLink("Sign Up", "Create", "User")
    </p>
</div>
