@{
    ViewData["Title"] = "Terms of use";
}
<h2>@ViewData["Title"]</h2>

<h3>Important information regarding the use of the device</h3>

<div>
    <h4>Devie Activation</h4>
    <ul>
        <li>Once activated, the device will supply electricity for a time span of one hour.</li>
        <li>Each activation is restarting the clock to a one hour usage and is not accumulated with the former on going usage.</li>
    </ul>
</div>
<div>
    <h4>Payments</h4>
    <ul>
        <li>Each activation is changed with the amount specified at the pricig section below and is not refundable once activation has succesfuly started.</li>
        <li>Once your payment method is chagred, the deivce will be activated,if you wish to pay for another hour, please do so once the former usage is complete</li>
    </ul>
</div>
<div>
    <h4>Pricing</h4>
    <ul>
        <li>the current price per hour is: xxx NIS</li>
    </ul>
</div>





