<div class="text-center">
    <h5>In order to Preform this action you need to enter the system first</h5>
    <p>Please do so at the Home page</p>
    <p>
        @Html.ActionLink("Home Page", "Index", "Home")
    </p>
</div>