<div class="text-center">
    <h1 class="display-4">Activate Device</h1>
    <p>
        @Html.ActionLink("Activate", "Activation")
    </p>
    <h1 class="display-4">De-Activate Device</h1>
    <p>
        @Html.ActionLink("De-Activate", "De_Activation")
    </p>
</div>